html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(135, 135, 135);
    height: 100%;
}
input{
    margin-top:50px;
}
ul{
    margin-top:50px;
}
h1{
    text-align:center;
    background-color: rgb(68, 0, 195);
    margin: 12px;
    color: white;
}
